@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.ime {
  text-align: center;
  text-decoration: underline;
  padding-bottom: 10px;
}

.subtitle {
  text-align: center;
}
